/* https://ionicframework.com/docs/theming/colors#new-color-creator */
/* https://graf1x.com/shades-of-green-color-palette-html-hex-rgb-code/ */

:root {
    --ion-color-white: #ffffff;
    --ion-color-white-rgb: 255, 255, 255;
    --ion-color-white-contrast: #000000;
    --ion-color-white-contrast-rgb: 0, 0, 0;
    --ion-color-white-shade: #e0e0e0;
    --ion-color-white-tint: #ffffff;
}

body.light {
    --ion-color-primary: #2e8b57;
    --ion-color-primary-rgb: 46, 139, 87;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #287a4d;
    --ion-color-primary-tint: #439768;

    --ion-color-success: #2e8b57;
    --ion-color-success-rgb: 46, 139, 87;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #287a4d;
    --ion-color-success-tint: #439768;

    --ion-color-warning: #50c878;
    --ion-color-warning-rgb: 80, 200, 120;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #46b06a;
    --ion-color-warning-tint: #62ce86;

    --ion-color-danger: #d0f0c0;
    --ion-color-danger-rgb: 208, 240, 192;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #b7d3a9;
    --ion-color-danger-tint: #d5f2c6;

    --ion-color-fern-green: #4f7942;
    --ion-color-fern-green-rgb: 79, 121, 66;
    --ion-color-fern-green-contrast: #ffffff;
    --ion-color-fern-green-contrast-rgb: 255, 255, 255;
    --ion-color-fern-green-shade: #466a3a;
    --ion-color-fern-green-tint: #618655;

    --ion-color-dark: #444c38;
    --ion-color-dark-rgb: 68, 76, 56;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #3c4331;
    --ion-color-dark-tint: #575e4c;

    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    --ion-color-lightest: #ddf2d9;
    --ion-color-lightest-rgb: 221, 242, 217;
    --ion-color-lightest-contrast: #000000;
    --ion-color-lightest-contrast-rgb: 0, 0, 0;
    --ion-color-lightest-shade: #c2d5bf;
    --ion-color-lightest-tint: #e0f3dd;

    --ion-color-card: #ffffff;
    --ion-color-card-rgb: 255, 255, 255;
    --ion-color-card-contrast: #000000;
    --ion-color-card-contrast-rgb: 0, 0, 0;
    --ion-color-card-shade: #e0e0e0;
    --ion-color-card-tint: #ffffff;

    --ion-background-color: #f3f2ef;
    --ion-background-color-rgb: 243, 242, 239;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

    /* https://ionic-docs-o31kiyk8l-ionic1.vercel.app/docs/v8/theming/themes#stepped-color-generator */
    /* should be re-generated if var(--ion-background-color) has been changed */

    --ion-text-color-step-50: #0c0c0c;
    --ion-text-color-step-100: #181818;
    --ion-text-color-step-150: #242424;
    --ion-text-color-step-200: #313030;
    --ion-text-color-step-250: #3d3d3c;
    --ion-text-color-step-300: #494948;
    --ion-text-color-step-350: #555554;
    --ion-text-color-step-400: #616160;
    --ion-text-color-step-450: #6d6d6c;
    --ion-text-color-step-500: #7a7978;
    --ion-text-color-step-550: #868583;
    --ion-text-color-step-600: #92918f;
    --ion-text-color-step-650: #9e9d9b;
    --ion-text-color-step-700: #aaa9a7;
    --ion-text-color-step-750: #b6b6b3;
    --ion-text-color-step-800: #c2c2bf;
    --ion-text-color-step-850: #cfcecb;
    --ion-text-color-step-900: #dbdad7;
    --ion-text-color-step-950: #e7e6e3;

    --ion-background-color-step-50: #e7e6e3;
    --ion-background-color-step-100: #dbdad7;
    --ion-background-color-step-150: #cfcecb;
    --ion-background-color-step-200: #c2c2bf;
    --ion-background-color-step-250: #b6b6b3;
    --ion-background-color-step-300: #aaa9a7;
    --ion-background-color-step-350: #9e9d9b;
    --ion-background-color-step-400: #92918f;
    --ion-background-color-step-450: #868583;
    --ion-background-color-step-500: #7a7978;
    --ion-background-color-step-550: #6d6d6c;
    --ion-background-color-step-600: #616160;
    --ion-background-color-step-650: #555554;
    --ion-background-color-step-700: #494948;
    --ion-background-color-step-750: #3d3d3c;
    --ion-background-color-step-800: #313030;
    --ion-background-color-step-850: #242424;
    --ion-background-color-step-900: #181818;
    --ion-background-color-step-950: #0c0c0c;

    --ion-toolbar-background: var(--ion-color-primary);
    --ion-toolbar-color: var(--ion-color-primary-contrast);

    --ion-card-background: var(--ion-color-card);
    --ion-card-color: var(--ion-color-card-contrast);
    --ion-card-title-color: var(--ion-text-color-step-150);
    --ion-card-sub-title-color: var(--ion-text-color-step-250);

    --ion-item-background: var(--ion-background-color);

    /* generated color using */
    /* https://material.io/design/color/the-color-system.html#tools-for-picking-colors */
    --leitner-box-1: #3dac6d;
    --leitner-box-2: #369d63;
    --leitner-box-3: #2e8b56;
    --leitner-box-4: #287a4b;
    --leitner-box-5: #1f5a37;

    --text-area-border-color: var(--ion-color-lightest);
}

body.dark {
    --ion-color-primary: #5bb882;
    --ion-color-primary-rgb: 91, 184, 130;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #50a272;
    --ion-color-primary-tint: #6bbf8f;

    --ion-color-success: #5bb882;
    --ion-color-success-rgb: 91, 184, 130;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #50a272;
    --ion-color-success-tint: #6bbf8f;

    --ion-color-warning: #8fdca8;
    --ion-color-warning-rgb: 143, 220, 168;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #7ec294;
    --ion-color-warning-tint: #9ae0b1;

    --ion-color-danger: #d0f0c0;
    --ion-color-danger-rgb: 208, 240, 192;
    --ion-color-danger-contrast: #2e2e2e;
    --ion-color-danger-contrast-rgb: 46, 46, 46;
    --ion-color-danger-shade: #b7d3a9;
    --ion-color-danger-tint: #d5f2c6;

    --ion-color-fern-green: #81b775;
    --ion-color-fern-green-rgb: 129, 183, 117;
    --ion-color-fern-green-contrast: #000000;
    --ion-color-fern-green-contrast-rgb: 0, 0, 0;
    --ion-color-fern-green-shade: #72a167;
    --ion-color-fern-green-tint: #8ebe83;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    --ion-color-lightest: #1e1e1e;
    --ion-color-lightest-rgb: 30, 30, 30;
    --ion-color-lightest-contrast: #ffffff;
    --ion-color-lightest-contrast-rgb: 255, 255, 255;
    --ion-color-lightest-shade: #1a1a1a;
    --ion-color-lightest-tint: #353535;

    --ion-color-card: #1f1f1f;
    --ion-color-card-rgb: 31, 31, 31;
    --ion-color-card-contrast: #ffffff;
    --ion-color-card-contrast-rgb: 255, 255, 255;
    --ion-color-card-shade: #1b1b1b;
    --ion-color-card-tint: #353535;

    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;
    --ion-item-border-color: #ffffff;

    --ion-text-color-step-50: #f3f3f3;
    --ion-text-color-step-100: #e7e7e7;
    --ion-text-color-step-150: #dbdbdb;
    --ion-text-color-step-200: #d0d0d0;
    --ion-text-color-step-250: #c4c4c4;
    --ion-text-color-step-300: #b8b8b8;
    --ion-text-color-step-350: #acacac;
    --ion-text-color-step-400: #a0a0a0;
    --ion-text-color-step-450: #949494;
    --ion-text-color-step-500: #898989;
    --ion-text-color-step-550: #7d7d7d;
    --ion-text-color-step-600: #717171;
    --ion-text-color-step-650: #656565;
    --ion-text-color-step-700: #595959;
    --ion-text-color-step-750: #4d4d4d;
    --ion-text-color-step-800: #414141;
    --ion-text-color-step-850: #363636;
    --ion-text-color-step-900: #2a2a2a;
    --ion-text-color-step-950: #1e1e1e;

    --ion-background-color-step-50: #1e1e1e;
    --ion-background-color-step-100: #2a2a2a;
    --ion-background-color-step-150: #363636;
    --ion-background-color-step-200: #414141;
    --ion-background-color-step-250: #4d4d4d;
    --ion-background-color-step-300: #595959;
    --ion-background-color-step-350: #656565;
    --ion-background-color-step-400: #717171;
    --ion-background-color-step-450: #7d7d7d;
    --ion-background-color-step-500: #898989;
    --ion-background-color-step-550: #949494;
    --ion-background-color-step-600: #a0a0a0;
    --ion-background-color-step-650: #acacac;
    --ion-background-color-step-700: #b8b8b8;
    --ion-background-color-step-750: #c4c4c4;
    --ion-background-color-step-800: #d0d0d0;
    --ion-background-color-step-850: #dbdbdb;
    --ion-background-color-step-900: #e7e7e7;
    --ion-background-color-step-950: #f3f3f3;

    --ion-item-background: var(--ion-background-color-step-100);

    --ion-toolbar-background: var(--ion-color-card);
    --ion-toolbar-color: var(--ion-color-card-contrast);

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: var(--ion-color-card);
    --ion-card-color: var(--ion-color-card-contrast);
    --ion-card-title-color: var(--ion-text-color-step-250);
    --ion-card-sub-title-color: var(--ion-text-color-step-350);

    --leitner-box-1: #78c497;
    --leitner-box-2: #5bb882;
    --leitner-box-3: #3dac6d;
    --leitner-box-4: #369d62;
    --leitner-box-5: #2e8b56;

    --text-area-border-color: var(--ion-color-light-tint);
}
