@import 'util.css';

a {
    text-decoration: none;
    color: var(--ion-color-primary);
}

.display-flex {
    display: flex;
}

.display-flow-root {
    display: flow-root;
}

.display-grid {
    display: grid;
}

.capitalize::first-letter {
    text-transform: capitalize;
}

.rounded-circle {
    border-radius: 50%;
}

.overflowed-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.margin-bottom-4 {
    margin-bottom: calc(var(--ion-margin) / 4);
}

.firecracker-primary-color-icon {
    color: var(--ion-color-primary);
}

.firecracker-warning-color-icon {
    color: var(--ion-color-warning);
}

.firecracker-primary-color-icon-large {
    font-size: 6rem;
    color: var(--ion-color-primary);
}
