@import 'variables.css';

.ion-color-lightest {
    --ion-color-base: var(--ion-color-lightest);
    --ion-color-base-rgb: var(--ion-color-lightest-rgb);
    --ion-color-contrast: var(--ion-color-lightest-contrast);
    --ion-color-contrast-rgb: var(--ion-color-lightest-contrast-rgb);
    --ion-color-shade: var(--ion-color-lightest-shade);
    --ion-color-tint: var(--ion-color-lightest-tint);
}

.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-fern-green {
    --ion-color-base: var(--ion-color-fern-green);
    --ion-color-base-rgb: var(--ion-color-fern-green-rgb);
    --ion-color-contrast: var(--ion-color-fern-green-contrast);
    --ion-color-contrast-rgb: var(--ion-color-fern-green-contrast-rgb);
    --ion-color-shade: var(--ion-color-fern-green-shade);
    --ion-color-tint: var(--ion-color-fern-green-tint);
}

ion-toggle {
    --background-checked: #989aa2;
    --handle-background: var(--ion-color-warning);
    --handle-background-checked: var(--ion-color-primary);
}

ion-card-title {
    --color: var(--ion-card-title-color);
}

ion-card-subtitle {
    --color: var(--ion-card-sub-title-color);
}

ion-card.transparent {
    --background: var(--ion-background-color);
}

ion-card ion-item {
    --ion-item-background: var(--ion-card-background);
}

body.light ion-searchbar {
    --ion-text-color: var(--ion-color-white);
    --ion-color-step-600: var(--ion-color-white);
}

body.dark ion-menu {
    --ion-background-color: var(--ion-color-step-100);
}

.alert-message {
    color: var(--ion-card-title-color) !important;
}

body.dark ion-alert {
    --background: var(--ion-color-step-100);
}
