.tips .material-icons {
    color: var(--ion-color-primary);
    padding-right: calc(var(--ion-padding) / 4);
    font-size: 20px;
}
.tips .info {
    font-size: 15px;
}

.vocab-upsert-item {
    --padding-start: unset;
    --inner-padding-end: unset;
}

#add-vocabulary .buttons-container,
#add-definition .buttons-container {
    justify-content: flex-end;
    margin: calc(var(--ion-margin) + var(--ion-margin) / 2) calc(var(--ion-margin) / 4);
}
#add-vocabulary .cancel-button-container,
#add-definition .cancel-button-container {
    padding-inline-start: unset;
}
#add-vocabulary .save-button-container,
#add-definition .save-button-container {
    padding-inline-end: unset;
}
#add-vocabulary .cancel-button,
#add-definition .cancel-button {
    margin-inline-start: unset;
}
#add-vocabulary .save-button,
#add-definition .save-button {
    margin-inline-end: unset;
}

/* below style should be at
 src/views/vocab-read/Settings.vue
 but unfortunately it (scoped css) doesn't work
 */
.ion-accordion-toggle-icon {
    color: var(--ion-color-primary);
}

.vocab-count {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    margin-left: calc(-1 * var(--ion-margin));
}
