.display-flex {
    display: flex;
}
.capitalize::first-letter {
    text-transform: capitalize;
}
.form-text {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    color: #6c757d;
}
.rounded-circle {
    border-radius: 50%;
}
