.display-flex {
    display: flex;
}

.display-flow-root {
    display: flow-root;
}

.capitalize::first-letter {
    text-transform: capitalize;
}

.rounded-circle {
    border-radius: 50%;
}

a {
    text-decoration: none;
}

.overflowed-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
