name: CI

on: [ push, pull_request ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 14.15.4 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm i

      - name: Create environment variables
        run: |  
          npm run create:capacitor.config
          npm run create:config

      - name: Prettier
        run: npm run format:check

      - name: ESLint
        run: npm run lint:check

      - name: Build
        run: npm run serve:android:anew
